
body{
    font:13px/20px "Ubuntu" sans-serif;
    background-color: #272725 !important;
}

placeholder{
    color: #5E5E5E !important;
}

textarea{
    resize: none !important;
}

.message{
    padding-top: 30px;
    position: relative;    
}

.send{
    font-size: 18px;
    color: #13D7A9;
    margin-left: 30em;
}

.info{
    font-size: 24px;
    letter-spacing: .5px;
    color: #FFFFFF;
    margin-left: 18em;
}

.name{
    width: 400px !important;
    margin: .2em !important;
    border-color: #d4d4d4 #ededed #f7f7f7;
}

.comment-box{
    border: 2px solid;
    border-color: #d4d4d4 #ededed #f7f7f7;    
    width: 810px !important; 
    height: 117px;
    font-size: 18px;
    margin: .2em !important;
}

.submit{
    border: 2px solid !important;
    width: 150px !important;
    margin: .2em !important;
    margin-top: 2em !important;
    margin-left: 23em !important;
}

.form{
    margin: 2em;
    margin-top: 5em;   
    margin-left: 15em;
}

.form-block{
    background-color: #343432 !important;
    border-color: #343432 !important;
    color: #FDFDFD;
}

.form-row{
    margin-left: 15em !important;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}