/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: .5em;
    line-height: 1.4;
    overflow-x: hidden;
}

.name{
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    font: "Ubuntu";
    margin-top: 5px;
}

.name:hover{
    
}

.twitter{
  width: 40px;
  height: 40px;
  background-image: url(../home_img/twitter.png);
  background-repeat: no-repeat;
  background-size: 40px;
  margin: 10px;
  margin-right: 8px;
}

ul:hover .twitter{
    -webkit-filter: blur(4px);
}

ul .twitter:hover{
    -webkit-filter: blur(0px);
    background-image: url(../home_img/twitter_blue.png);
}

.facebook{
  width: 50px;
  height: 50px;
  background-image: url(../home_img/facebook.png);
  background-repeat: no-repeat;
  background-size: 50px;
  margin: 5px;
  margin-right: 5px;
}

ul:hover .facebook{
    -webkit-filter: blur(4px);
}

ul .facebook:hover{
    -webkit-filter: blur(0px);
    background-image: url(../home_img/facebook_blue.png);
}

.linkedin{
  width: 50px;
  height: 50px;
  background-image: url(../home_img/linkedin.png);
  background-repeat: no-repeat;
  background-size: 48px;
  margin: 5px;
  margin-top: 6px;
  margin-right: 5px;
}

ul:hover .linkedin{
    -webkit-filter: blur(4px);
}

ul .linkedin:hover{
    -webkit-filter: blur(0px);
    background-image: url(../home_img/linkedin_blue.png);
}

.github{
  width: 55px;
  height: 55px;
  background-image: url(../home_img/githubimg.png);
  background-repeat: no-repeat;
  background-size: 53px;
  margin: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

ul:hover .github{
    -webkit-filter: blur(4px);
}

ul .github:hover{
    -webkit-filter: blur(0px);
    background-image: url(../home_img/githubimg_blue.png);
}

.blog{
  width: 45px;
  height: 45px;
  background-image: url(../home_img/wordpress.png);
  background-repeat: no-repeat;
  background-size: 45px;
  margin: 5px;
  margin-top: 10px;
}

ul:hover .blog{
    -webkit-filter: blur(4px);
}

ul .blog:hover{
    -webkit-filter: blur(0px);
    background-image: url(../home_img/wordpress_blue.png);
}

button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn,
input[type="submit"].btn {
  height: 40px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.65em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  padding: 0.55em 2.5em;
  color: #222222;
  background: #e0e3e5;
}
.btn:hover,
input[type="submit"].btn:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #b3b6b7;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-white,
input[type="submit"].btn-white {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white:hover,
input[type="submit"].btn-white:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #ededed;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active,
.btn-white.btn-disabled,
input[type="submit"].btn-white.btn-disabled,
.btn-white.btn[disabled],
input[type="submit"].btn-white.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #ededed;
}
.btn-white.btn-active:hover,
input[type="submit"].btn-white.btn-active:hover,
.btn-white.btn-disabled:hover,
input[type="submit"].btn-white.btn-disabled:hover,
.btn-white.btn[disabled]:hover,
input[type="submit"].btn-white.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-white.btn-outline,
input[type="submit"].btn-white.btn-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white.btn-outline:hover,
input[type="submit"].btn-white.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white.btn-outline.btn[disabled],
input[type="submit"].btn-white.btn-outline.btn[disabled],
.btn-white.btn-outline.btn-disabled,
input[type="submit"].btn-white.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-white.btn-outline.btn-active,
input[type="submit"].btn-white.btn-outline.btn-active {
  background: none;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}
.btn-white:hover,
input[type="submit"].btn-white:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #ededed;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active,
.btn-white.btn-disabled,
input[type="submit"].btn-white.btn-disabled,
.btn-white.btn[disabled],
input[type="submit"].btn-white.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #ededed;
}
.btn-white.btn-active:hover,
input[type="submit"].btn-white.btn-active:hover,
.btn-white.btn-disabled:hover,
input[type="submit"].btn-white.btn-disabled:hover,
.btn-white.btn[disabled]:hover,
input[type="submit"].btn-white.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-white.btn-outline,
input[type="submit"].btn-white.btn-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white.btn-outline:hover,
input[type="submit"].btn-white.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white.btn-outline.btn[disabled],
input[type="submit"].btn-white.btn-outline.btn[disabled],
.btn-white.btn-outline.btn-disabled,
input[type="submit"].btn-white.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-white.btn-outline.btn-active,
input[type="submit"].btn-white.btn-outline.btn-active {
  background: none;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}
.btn-white.btn-outline.btn-active {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.48750000000000004em 2.5em;
}
.btn-outline,
input[type="submit"].btn-outline {
  background: none;
  padding: 0.48750000000000004em 2.5em;
  border: 1px solid #0f0f0f;
}
.btn-outline:hover,
input[type="submit"].btn-outline:hover {
  border-color: #b3b6b7;
}
.btn-outline.btn-active {
  padding: 0.55em 2.5em;
}
.btn-outline.bold {
  border-width: 2px;
  padding: 0.42500000000000004em 2.5em;
}
.btn-outline.btn[disabled],
.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline.btn-active {
  background: none;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.contactbtn{
    margin-top: 2em !important;
    margin-left: 23.121em !important;
    font-size: 12px;
    font: 'Ubuntu';
    font-family: 'Ubuntu', sans-serif;
}

.resumebtn{
    margin-top: 2em !important;
    font-size: 13px;
    font: 'Ubuntu';
    font-family: 'Ubuntu', sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
    margin-right: .5em;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

img:hover{
    background-color: white;
}

main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 52%;
	top: 50%;
}
	.hsContent h2  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/jake.jpg')}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}
#slide-1 h2 {
    position: relative;
    top: 70%;
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/mizzou.jpg')}
#slide-2 .hsContent {
	margin-left: -450px;
	top: auto;
}
#slide-2 h2 {
    position: fixed;
    top: 30%;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/greatwall.jpg')}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h2 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
        margin-bottom: 50em;
	}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../img/montana.jpg')}
#slide-4 .hsContent {
	margin-left: -450px;
	top: auto;
}
#slide-4 h2 {
    position: fixed;
    top: 70%;
}

/* Slide 5 */
#slide-5 .bcg {background-image:url('../img/oregon.jpg')}
#slide-5 .hsContent {
    margin-left: -450px;
    position: fixed;
    top: 250px;
}
	#slide-5 h2 {
		background: none;
		padding-left: 330px;
		padding-right: 0;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
*   Resume page
*/

.jresume{
    margin: 5em;
    margin-left: 28em;
    position: center center;
    border: 2px solid black;
    border-radius: 3px;
    height: 100em;
}

.resume-wrapper{
    position: none;
    background-color: #E4E4E2;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, .twitter, .facebook, .linkedin, .github, .blog {
       cursor: pointer;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}